# API бекенда (IP Mac в локальной Wi‑Fi)
EXPO_PUBLIC_API_URL=http://192.168.0.100:8000

# Яндекс.Карты MapKit — ключ из developer.tech.yandex.ru
EXPO_PUBLIC_YANDEX_MAPS_API_KEY=

# FCM (Android) — путь к google-services.json от Firebase
# GOOGLE_SERVICES_JSON=./google-services.json

# Логирование
# debug | info | warn | error | silent
EXPO_PUBLIC_LOG_LEVEL=debug
# 1 — писать логи в файл на устройстве (по умолчанию включено в __DEV__)
# EXPO_PUBLIC_LOG_TO_FILE=1
# 1 — экран просмотра логов в приложении (в dev включён автоматически)
# EXPO_PUBLIC_DEV_LOGS=1
